ion-content {
  --background: #f4f4f4;
}

ion-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ion-input {
  width: 100%;
  margin-bottom: 15px;
  --padding-start: 5px;
  --background: transparent;
  --color: #333;
  --placeholder-color: #aaa;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}

ion-button {
  margin-top: 10px;
  --background: #4a90e2;
  --color: white;
}

ion-title {
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  color: rgb(226, 211, 74);
}
